color normal default default

color normal alertmagenta  green
color normal brightcyan    lightblack
color normal yellow        brightwhite
color normal blue          cyan
color normal alertgreen    brightred
color normal lightcyan     cyan
color normal lightred      lightgreen
color normal red           lightyellow
color normal brightyellow  brightred
color normal alertred      lightcyan
color normal alertblack    magenta
color normal magenta       brightgreen
color normal cyan          lightred
color normal red           brightyellow
color normal brightwhite   lightyellow
color normal blue          brightblue
color normal lightgreen    brightblue
color normal cyan          magenta
color normal white         brightmagenta
color normal brightgreen   brightwhite
color normal black         yellow
color normal lightred      brightyellow
color normal brightmagenta green
color normal brightmagenta red
color normal alertmagenta  alertmagenta
color normal green         lightmagenta
color normal lightblue     brightblack
color normal white         alertblue
color normal yellow        brightblue
color normal brightmagenta lightblue
color normal lightred      alertblue
color normal brightred     alertgreen
color normal blue          alertred
color normal blue          lightgreen
color normal alertyellow   brightmagenta
color normal brightwhite   yellow
color normal brightgreen   brightgreen
color normal white         brightwhite
color normal brightyellow  black
color normal alertyellow   lightwhite
color normal brightred     brightblack
color normal brightgreen   brightblue
color normal cyan          alertblack
color normal lightcyan     magenta
color normal alertwhite    lightblack
color normal alertblue     lightred
color normal brightmagenta magenta
color normal green         lightblack
color normal alertblack    magenta
color normal alertwhite    brightblack

color normal color169 color30
color normal color86  color9
color normal color93  color2
color normal color114 color227
color normal color22  color154
color normal color36  color40
color normal color226 color157
color normal color94  color232
color normal color37  color241
color normal color175 color33
color normal color25  color163
color normal color98  color251
color normal color240 color122
color normal color69  color112
color normal color129 color68
color normal color158 color57
color normal color186 color193
color normal color149 color125
color normal color82  color92
color normal color24  color41
color normal color39  color243
color normal color188 color204
color normal color207 color15
color normal color100 color248
color normal color71  color101
color normal color130 color20
color normal color126 color12
color normal color128 color108
color normal color155 color224
color normal color206 color196
color normal color178 color233
color normal color137 color104
color normal color105 color147
color normal color78  color152
color normal color0   color238
color normal color234 color167
color normal color161 color118
color normal color210 color255
color normal color115 color48
color normal color123 color200
color normal color180 color156
color normal color3   color119
color normal color46  color214
color normal color106 color247
color normal color38  color229
color normal color116 color237
color normal color139 color42
color normal color135 color83
color normal color26  color31
color normal color5   color252

color normal #04df26 #f132e2
color normal #eb5a33 #94c613
color normal #fbc38d #94473c
color normal #dce020 #4c190f
color normal #f76e64 #0b652c
color normal #39b749 #bc0d65
color normal #99a592 #81d000
color normal #4ac1d4 #b00100
color normal #fbc7d9 #79b8d8
color normal #b03ea3 #f1e42c
color normal #df7aa8 #8ac4b9
color normal #09451d #b95f1f
color normal #76477b #479f47
color normal #982f36 #37ed0c
color normal #3ae85c #8633cb
color normal #62f465 #4c6270
color normal #62302a #03357d
color normal #2f430e #001d09
color normal #9f7831 #5f83f6
color normal #9266a9 #2db18b
color normal #5639b5 #fa4c1d
color normal #4a9693 #033daa
color normal #a996dd #21bdbd
color normal #3f5606 #608bf4
color normal #f9bfbc #46a49d
color normal #ee5867 #4b9e16
color normal #8363fa #2a3658
color normal #bee8cb #fbc8f4
color normal #3a8168 #617a4b
color normal #1748d0 #27ed87
color normal #a730a7 #93b441
color normal #df5610 #7725e9
color normal #83e1ad #afd578
color normal #7448ad #19cb76
color normal #8882af #ca89a8
color normal #a57e22 #088c89
color normal #1ee407 #f4f618
color normal #f4dbc0 #a02275
color normal #a6c51e #43b891
color normal #be36f2 #83098f
color normal #b32d39 #f84936
color normal #e925f8 #9a8141
color normal #44e20f #6450c4
color normal #fb277f #50d757
color normal #b09904 #b9e7a2
color normal #3eb158 #d4584a
color normal #677a67 #03f82d
color normal #3b84b2 #3ff436
color normal #caaa42 #56b81c
color normal #865817 #fe8d87

# vim: syn=neomuttrc
