set abort_backspace                         = yes
set abort_key                               = "\g"
set abort_noattach                          = no
set abort_noattach_regex                    = "\\<(attach|attached|attachments?)\\>"
set abort_nosubject                         = ask-yes
set abort_unmodified                        = yes
set account_command                         = ""
set alias_file                              = "/dev/null"
set alias_format                            = "%3n %f%t %-15a %-56r | %c"
set allow_8bit                              = yes
set allow_ansi                              = no
set arrow_cursor                            = no
set arrow_string                            = "->"
set ascii_chars                             = no
set ask_bcc                                 = no
set ask_cc                                  = no
set ask_followup_to                         = no
set ask_x_comment_to                        = no
set assumed_charset                         = ""
set attach_charset                          = ""
set attach_format                           = "%u%D%I %t%4n %T%d %> [%.7m/%.10M, %.6e%<C?, %C>, %s] "
set attach_save_dir                         = "./"
set attach_save_without_prompting           = no
set attach_sep                              = "\n"
set attach_split                            = yes
set attribution_intro                       = "On %d, %n wrote:"
set attribution_locale                      = ""
set attribution_trailer                     = ""
set autocrypt                               = no
set autocrypt_acct_format                   = "%4n %-30a %20p %10s"
set autocrypt_dir                           = "~/.mutt/autocrypt"
set autocrypt_reply                         = yes
set auto_edit                               = no
set auto_subscribe                          = no
set auto_tag                                = no
set beep                                    = yes
set beep_new                                = no
set bounce                                  = ask-yes
set bounce_delivered                        = yes
set braille_friendly                        = no
set browser_abbreviate_mailboxes            = yes
set browser_sort_dirs_first                 = no
set catchup_newsgroup                       = ask-yes
set certificate_file                        = "~/.mutt_certificates"
set change_folder_next                      = no
set charset                                 = "utf-8"
set check_mbox_size                         = no
set check_new                               = yes
set collapse_all                            = no
set collapse_flagged                        = yes
set collapse_unread                         = yes
set color_directcolor                       = no
set compose_confirm_detach_first            = yes
set compose_format                          = "-- NeoMutt: Compose  [Approx. msg size: %l   Atts: %a]%>-"
set compose_show_user_headers               = yes
set config_charset                          = ""
set confirm_append                          = yes
set confirm_create                          = yes
set content_type                            = "text/plain"
set copy                                    = yes
set copy_decode_weed                        = no
set count_alternatives                      = no
set crypt_auto_encrypt                      = no
set crypt_auto_pgp                          = yes
set crypt_auto_sign                         = no
set crypt_auto_smime                        = yes
set crypt_chars                             = "SPsK "
set crypt_confirm_hook                      = yes
set crypt_encryption_info                   = yes
set crypt_opportunistic_encrypt             = no
set crypt_opportunistic_encrypt_strong_keys = no
set crypt_protected_headers_read            = yes
set crypt_protected_headers_save            = no
set crypt_protected_headers_subject         = "..."
set crypt_protected_headers_weed            = no
set crypt_protected_headers_write           = yes
set crypt_reply_encrypt                     = yes
set crypt_reply_sign                        = no
set crypt_reply_sign_encrypted              = no
set crypt_timestamp                         = yes
set crypt_use_gpgme                         = yes
set crypt_use_pka                           = no
set crypt_verify_sig                        = yes
set date_format                             = "!%a, %b %d, %Y at %I:%M:%S%p %Z"
set debug_file                              = "~/.neomuttdebug"
set debug_level                             = 1
set default_hook                            = "~f %s !~P | (~P ~C %s)"
set delete                                  = ask-yes
set delete_untag                            = yes
set devel_security                          = no
set digest_collapse                         = yes
set display_filter                          = ""
set dsn_notify                              = ""
set dsn_return                              = ""
set duplicate_threads                       = yes
set editor                                  = "/usr/bin/nvim"
set edit_headers                            = no
set empty_subject                           = "Re: your mail"
set encode_from                             = no
set entropy_file                            = ""
set envelope_from_address                   = ""
set external_search_command                 = ""
set fast_reply                              = no
set fcc_attach                              = yes
set fcc_before_send                         = no
set fcc_clear                               = no
set flag_chars                              = "*!DdrONon- "
set flag_safe                               = no
set folder                                  = "~/Mail"
set folder_format                           = "%2C %t %N %F %2l %-8.8u %-8.8g %8s %d %i"
set followup_to                             = yes
set followup_to_poster                      = ask-yes
set force_name                              = no
set forward_attachments                     = ask-yes
set forward_attribution_intro               = "----- Forwarded message from %f -----"
set forward_attribution_trailer             = "----- End forwarded message -----"
set forward_decode                          = yes
set forward_decrypt                         = yes
set forward_edit                            = yes
set forward_format                          = "[%a: %s]"
set forward_quote                           = no
set forward_references                      = no
set from                                    = ""
set from_chars                              = ""
set gecos_mask                              = "^[^,]*"
set greeting                                = ""
set group_index_format                      = "%4C %M%N %5s  %-45.45f %d"
set hdrs                                    = yes
set header                                  = no
set header_cache                            = ""
set header_cache_backend                    = ""
set header_cache_compress_level             = 0
set header_cache_compress_method            = ""
set header_color_partial                    = no
set help                                    = yes
set hidden_host                             = no
set hidden_tags                             = "unread,draft,flagged,passed,replied,attachment,signed,encrypted"
set hide_limited                            = no
set hide_missing                            = yes
set hide_thread_subject                     = yes
set hide_top_limited                        = no
set hide_top_missing                        = yes
set history                                 = 10
set history_file                            = "~/.mutthistory"
set history_format                          = "%s"
set history_remove_dups                     = no
set honor_disposition                       = no
set honor_followup_to                       = yes
set hostname                                = "vivo.flatcap.org"
set idn_decode                              = yes
set idn_encode                              = yes
set ignore_list_reply_to                    = no
set imap_authenticators                     = ""
set imap_check_subscribed                   = no
set imap_condstore                          = no
set imap_deflate                            = yes
set imap_delim_chars                        = "/."
set imap_fetch_chunk_size                   = 0
set imap_headers                            = ""
set imap_idle                               = no
set imap_keep_alive                         = 300
set imap_list_subscribed                    = no
set imap_login                              = ""
set imap_oauth_refresh_command              = ""
set imap_pass                               = ""
set imap_passive                            = yes
set imap_peek                               = yes
set imap_pipeline_depth                     = 15
set imap_poll_timeout                       = 15
set imap_qresync                            = no
set imap_rfc5161                            = yes
set imap_send_id                            = no
set imap_server_noise                       = yes
set imap_user                               = ""
set implicit_auto_view                      = no
set include                                 = ask-yes
set include_encrypted                       = no
set include_only_first                      = no
set indent_string                           = "> "
set index_format                            = "%4C %Z %{%b %d} %-15.15L (%<l?%4l&%4c>) %s"
set inews                                   = ""
set ispell                                  = "ispell"
set keep_flagged                            = no
set local_date_header                       = yes
set mailbox_folder_format                   = "%2C %<n?%6n&      > %6m %i"
set mailcap_path                            = "~/.mailcap:/usr/share/neomutt/mailcap:/etc/mailcap:/usr/etc/mailcap:/usr/local/etc/mailcap"
set mailcap_sanitize                        = yes
set maildir_check_cur                       = no
set maildir_field_delimiter                 = ":"
set maildir_header_cache_verify             = yes
set maildir_trash                           = no
set mail_check                              = 5
set mail_check_recent                       = yes
set mail_check_stats                        = no
set mail_check_stats_interval               = 60
set markers                                 = yes
set mark_macro_prefix                       = "'"
set mark_old                                = yes
set mask                                    = "!^\\.[^.]"
set mbox                                    = "~/mbox"
set mbox_type                               = "mbox"
set menu_context                            = 0
set menu_move_off                           = yes
set menu_scroll                             = no
set message_cache_clean                     = no
set message_cache_dir                       = ""
set message_format                          = "%s"
set meta_key                                = no
set me_too                                  = no
set mh_purge                                = no
set mh_seq_flagged                          = "flagged"
set mh_seq_replied                          = "replied"
set mh_seq_unseen                           = "unseen"
set mime_forward                            = no
set mime_forward_decode                     = no
set mime_forward_rest                       = yes
set mime_type_query_command                 = ""
set mime_type_query_first                   = no
set move                                    = no
set narrow_tree                             = no
set net_inc                                 = 10
set newsgroups_charset                      = "utf-8"
set newsrc                                  = "~/.newsrc"
set news_cache_dir                          = "~/.neomutt"
set news_server                             = ""
set new_mail_command                        = ""
set nm_config_file                          = "auto"
set nm_config_profile                       = ""
set nm_db_limit                             = 0
set nm_default_url                          = ""
set nm_exclude_tags                         = ""
set nm_flagged_tag                          = "flagged"
set nm_open_timeout                         = 5
set nm_query_type                           = "messages"
set nm_query_window_current_position        = 0
set nm_query_window_current_search          = ""
set nm_query_window_duration                = 0
set nm_query_window_enable                  = no
set nm_query_window_or_terms                = ""
set nm_query_window_timebase                = "week"
set nm_record                               = no
set nm_record_tags                          = ""
set nm_replied_tag                          = "replied"
set nm_unread_tag                           = "unread"
set nntp_authenticators                     = ""
set nntp_context                            = 1000
set nntp_listgroup                          = yes
set nntp_load_description                   = yes
set nntp_pass                               = ""
set nntp_poll                               = 60
set nntp_user                               = ""
set pager                                   = ""
set pager_context                           = 0
set pager_format                            = "-%Z- %C/%m: %-20.20n   %s%*  -- (%P)"
set pager_index_lines                       = 0
set pager_read_delay                        = 0
set pager_skip_quoted_context               = 0
set pager_stop                              = no
set pattern_format                          = "%2n %-15e  %d"
set pgp_auto_decode                         = no
set pgp_auto_inline                         = no
set pgp_check_exit                          = yes
set pgp_check_gpg_decrypt_status_fd         = yes
set pgp_clear_sign_command                  = ""
set pgp_decode_command                      = ""
set pgp_decryption_okay                     = ""
set pgp_decrypt_command                     = ""
set pgp_default_key                         = ""
set pgp_encrypt_only_command                = ""
set pgp_encrypt_sign_command                = ""
set pgp_entry_format                        = "%4n %t%f %4l/0x%k %-4a %2c %u"
set pgp_export_command                      = ""
set pgp_get_keys_command                    = ""
set pgp_good_sign                           = ""
set pgp_ignore_subkeys                      = yes
set pgp_import_command                      = ""
set pgp_list_pubring_command                = ""
set pgp_list_secring_command                = ""
set pgp_long_ids                            = yes
set pgp_mime_auto                           = ask-yes
set pgp_reply_inline                        = no
set pgp_retainable_sigs                     = no
set pgp_self_encrypt                        = yes
set pgp_show_unusable                       = yes
set pgp_sign_as                             = ""
set pgp_sign_command                        = ""
set pgp_sort_keys                           = "address"
set pgp_strict_enc                          = yes
set pgp_timeout                             = 300
set pgp_use_gpg_agent                       = yes
set pgp_verify_command                      = ""
set pgp_verify_key_command                  = ""
set pipe_decode                             = no
set pipe_decode_weed                        = yes
set pipe_sep                                = "\n"
set pipe_split                              = no
set pop_authenticators                      = ""
set pop_auth_try_all                        = yes
set pop_check_interval                      = 60
set pop_delete                              = ask-no
set pop_host                                = ""
set pop_last                                = no
set pop_oauth_refresh_command               = ""
set pop_pass                                = ""
set pop_reconnect                           = ask-yes
set pop_user                                = ""
set postpone                                = ask-yes
set postponed                               = "~/postponed"
set postpone_encrypt                        = no
set postpone_encrypt_as                     = ""
set post_moderated                          = ask-yes
set preconnect                              = ""
set preferred_languages                     = ""
set print                                   = ask-no
set print_command                           = "lpr"
set print_decode                            = yes
set print_decode_weed                       = yes
set print_split                             = no
set prompt_after                            = yes
set query_command                           = ""
set query_format                            = "%3c %t %-25.25n %-25.25a | %e"
set quit                                    = yes
set quote_regex                             = "^([ \t]*[|>:}#])+"
set read_inc                                = 10
set read_only                               = no
set real_name                               = ""
set recall                                  = ask-yes
set record                                  = "~/sent"
set reflow_space_quotes                     = yes
set reflow_text                             = yes
set reflow_wrap                             = 78
set reply_regex                             = "^((re)(\\[[0-9]+\\])*:[ \t]*)*"
set reply_self                              = no
set reply_to                                = ask-yes
set reply_with_xorig                        = no
set resolve                                 = yes
set resume_draft_files                      = no
set resume_edited_draft_files               = yes
set reverse_alias                           = no
set reverse_name                            = no
set reverse_real_name                       = yes
set rfc2047_parameters                      = yes
set save_address                            = no
set save_empty                              = yes
set save_history                            = 0
set save_name                               = no
set save_unsubscribed                       = no
set score                                   = yes
set score_threshold_delete                  = -1
set score_threshold_flag                    = 9999
set score_threshold_read                    = -1
set search_context                          = 0
set sendmail                                = "/usr/sbin/sendmail -oem -oi"
set sendmail_wait                           = 0
set send_charset                            = "us-ascii:iso-8859-1:utf-8"
set shell                                   = "/bin/bash"
set show_multipart_alternative              = ""
set show_new_news                           = yes
set show_only_unread                        = no
set sidebar_component_depth                 = 0
set sidebar_delim_chars                     = "/."
set sidebar_divider_char                    = "│"
set sidebar_folder_indent                   = no
set sidebar_format                          = "%D%*  %n"
set sidebar_indent_string                   = "  "
set sidebar_new_mail_only                   = no
set sidebar_next_new_wrap                   = no
set sidebar_non_empty_mailbox_only          = no
set sidebar_on_right                        = no
set sidebar_short_path                      = no
set sidebar_sort_method                     = "unsorted"
set sidebar_visible                         = no
set sidebar_width                           = 30
set signature                               = "~/.signature"
set sig_dashes                              = yes
set sig_on_top                              = no
set simple_search                           = "~f %s | ~s %s"
set size_show_bytes                         = no
set size_show_fractions                     = yes
set size_show_mb                            = yes
set size_units_on_left                      = no
set sleep_time                              = 1
set smart_wrap                              = yes
set smileys                                 = "(>From )|(:[-^]?[][)(><}{|/DP])"
set smime_ask_cert_label                    = yes
set smime_ca_location                       = ""
set smime_certificates                      = ""
set smime_decrypt_command                   = ""
set smime_decrypt_use_default_key           = yes
set smime_default_key                       = ""
set smime_encrypt_command                   = ""
set smime_encrypt_with                      = "aes256"
set smime_get_cert_command                  = ""
set smime_get_cert_email_command            = ""
set smime_get_signer_cert_command           = ""
set smime_import_cert_command               = ""
set smime_is_default                        = no
set smime_keys                              = ""
set smime_pk7out_command                    = ""
set smime_self_encrypt                      = yes
set smime_sign_as                           = ""
set smime_sign_command                      = ""
set smime_sign_digest_alg                   = "sha256"
set smime_timeout                           = 300
set smime_verify_command                    = ""
set smime_verify_opaque_command             = ""
set smtp_authenticators                     = ""
set smtp_oauth_refresh_command              = ""
set smtp_pass                               = ""
set smtp_url                                = ""
set smtp_user                               = ""
set socket_timeout                          = 30
set sort                                    = "date"
set sort_alias                              = "alias"
set sort_aux                                = "date"
set sort_browser                            = "alpha"
set sort_re                                 = yes
set spam_separator                          = ","
set spool_file                              = "~/mail/inbox"
set ssl_ca_certificates_file                = ""
set ssl_ciphers                             = ""
set ssl_client_cert                         = ""
set ssl_force_tls                           = yes
set ssl_min_dh_prime_bits                   = 0
set ssl_starttls                            = yes
set ssl_use_sslv2                           = no
set ssl_use_sslv3                           = no
set ssl_use_system_certs                    = no
set ssl_use_tlsv1                           = no
set ssl_use_tlsv1_1                         = no
set ssl_use_tlsv1_2                         = yes
set ssl_use_tlsv1_3                         = yes
set ssl_verify_dates                        = yes
set ssl_verify_host                         = yes
set ssl_verify_partial_chains               = yes
set status_chars                            = "-*%A"
set status_format                           = "-%r-NeoMutt: %D [Msgs:%<M?%M/>%m%<n? New:%n>%<o? Old:%o>%<d? Del:%d>%<F? Flag:%F>%<t? Tag:%t>%<p? Post:%p>%<b? Inc:%b>%<l? %l>]---(%<T?%T/>%s/%S)-%>-(%P)---"
set status_on_top                           = no
set strict_threads                          = no
set suspend                                 = yes
set text_flowed                             = no
set thorough_search                         = yes
set thread_received                         = no
set tilde                                   = no
set timeout                                 = 600
set time_inc                                = 0
set tmp_dir                                 = "/tmp"
set toggle_quoted_show_levels               = 0
set to_chars                                = " +TCFLR"
set trash                                   = ""
set ts_enabled                              = no
set ts_icon_format                          = "M%<n?AIL&ail>"
set ts_status_format                        = "NeoMutt with %<m?%m messages&no messages>%<n? [%n NEW]>"
set tunnel                                  = ""
set tunnel_is_secure                        = yes
set uncollapse_jump                         = no
set uncollapse_new                          = yes
set user_agent                              = no
set use_8bit_mime                           = no
set use_domain                              = yes
set use_envelope_from                       = no
set use_from                                = yes
set use_ipv6                                = yes
set use_threads                             = "unset"
set virtual_spool_file                      = no
set wait_key                                = yes
set weed                                    = yes
set wrap                                    = 0
set wrap_headers                            = 78
set wrap_search                             = yes
set write_bcc                               = no
set write_inc                               = 10
set x_comment_to                            = no

# vim: syn=neomuttrc
