# All deprecated config options, colours
# Last Checked: 2026-02-10

set cursor_overlay            = ""
set escape                    = ""
set header_cache_compress     = ""
set header_cache_pagesize     = ""
set ignore_linear_white_space = ""
set mime_subject              = ""
set mixmaster                 = ""
set mix_entry_format          = ""
set pgp_encrypt_self          = ""
set smime_encrypt_self        = ""
set ssl_use_sslv2             = ""
set ssl_use_sslv3             = ""
set ssl_use_tlsv1             = ""
set ssl_use_tlsv1_1           = ""
set vfolder_format            = ""
set visual                    = ""

color quoted            red blue
color sidebar_spoolfile red blue

# vim: syn=neomuttrc
