set abort_noattach_regexp    = "" # abort_noattach_regex
set askbcc                   = "" # ask_bcc
set askcc                    = "" # ask_cc
set ask_follow_up            = "" # ask_followup_to
set attach_keyword           = "" # abort_noattach_regex
set attribution              = "" # attribution_intro
set autoedit                 = "" # auto_edit
set confirmappend            = "" # confirm_append
set confirmcreate            = "" # confirm_create
set connect_timeout          = "" # socket_timeout
set crypt_autoencrypt        = "" # crypt_auto_encrypt
set crypt_autopgp            = "" # crypt_auto_pgp
set crypt_autosign           = "" # crypt_auto_sign
set crypt_autosmime          = "" # crypt_auto_smime
set crypt_confirmhook        = "" # crypt_confirm_hook
set crypt_replyencrypt       = "" # crypt_reply_encrypt
set crypt_replysign          = "" # crypt_reply_sign
set crypt_replysignencrypted = "" # crypt_reply_sign_encrypted
set edit_hdrs                = "" # edit_headers
set envelope_from            = "" # use_envelope_from
set forw_decode              = "" # forward_decode
set forw_decrypt             = "" # forward_decrypt
set forw_format              = "" # forward_format
set forw_quote               = "" # forward_quote
set hdr_format               = "" # index_format
set imap_keepalive           = "" # imap_keep_alive
set imap_servernoise         = "" # imap_server_noise
set implicit_autoview        = "" # implicit_auto_view
set include_onlyfirst        = "" # include_only_first
set indent_str               = "" # indent_string
set message_cachedir         = "" # message_cache_dir
set metoo                    = "" # me_too
set mime_fwd                 = "" # mime_forward
set msg_format               = "" # message_format
set nm_default_uri           = "" # nm_default_url
set pgp_autoencrypt          = "" # crypt_auto_encrypt
set pgp_autoinline           = "" # pgp_auto_inline
set pgp_autosign             = "" # crypt_auto_sign
set pgp_auto_traditional     = "" # pgp_reply_inline
set pgp_clearsign_command    = "" # pgp_clear_sign_command
set pgp_create_traditional   = "" # pgp_auto_inline
set pgp_getkeys_command      = "" # pgp_get_keys_command
set pgp_replyencrypt         = "" # crypt_reply_encrypt
set pgp_replyinline          = "" # pgp_reply_inline
set pgp_replysign            = "" # crypt_reply_sign
set pgp_replysignencrypted   = "" # crypt_reply_sign_encrypted
set pgp_self_encrypt_as      = "" # pgp_default_key
set pgp_verify_sig           = "" # crypt_verify_sig
set pop_checkinterval        = "" # pop_check_interval
set post_indent_str          = "" # post_indent_string
set post_indent_string       = "" # attribution_trailer
set print_cmd                = "" # print_command
set quote_regexp             = "" # quote_regex
set realname                 = "" # real_name
set reply_regexp             = "" # reply_regex
set reverse_realname         = "" # reverse_real_name
set skip_quoted_offset       = "" # pager_skip_quoted_context
set smime_self_encrypt_as    = "" # smime_default_key
set spoolfile                = "" # spool_file
set ssl_usesystemcerts       = "" # ssl_use_system_certs
set tmpdir                   = "" # tmp_dir
set use_8bitmime             = "" # use_8bit_mime
set virtual_spoolfile        = "" # virtual_spool_file
set xterm_icon               = "" # ts_icon_format
set xterm_set_titles         = "" # ts_enabled
set xterm_title              = "" # ts_status_format

# vim: syn=neomuttrc
